@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova.otf");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: #202020;
  font-family: 'ProximaNova', 'Muli';
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player__main {
  width: 100%;
  height: 100px;
  background-color: #222327;
  position: fixed;
  bottom: 0;
}

.player__main--proggres {
  width: 15%;
  height: 2px;
  background-color: #FDFEFF;
}

.player__main--top {
  width: 100%;
  height: 45%;
  border-bottom: #1F2024 3px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__main--top .heart {
  margin-left: 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #FDFEFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__main--top .heart:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform ease .1s;
  transition: -webkit-transform ease .1s;
  transition: transform ease .1s;
  transition: transform ease .1s, -webkit-transform ease .1s;
}

.player__main--top .heart .like {
  display: none;
}

.player__main--top .heart.liked .unlike {
  display: none;
}

.player__main--top .heart.liked .like {
  display: block;
  color: #15BC59;
}

.player__main--top .title {
  color: #FDFEFF;
  font-size: 15px;
}

.player__main--top .title .author {
  color: #919296;
}

.player__main--top .player {
  margin-right: 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #FDFEFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__main--top .player:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform ease .1s;
  transition: -webkit-transform ease .1s;
  transition: transform ease .1s;
  transition: transform ease .1s, -webkit-transform ease .1s;
}

.player__main--top .player .play {
  display: none;
}

.player__main--top .player.paused .pause {
  display: none;
}

.player__main--top .player.paused .play {
  display: block;
}

.player__main--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #919296;
  height: 55%;
  margin-top: 10px;
}

.player__main--bottom .controls {
  width: 280px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player__main--bottom .controls .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  line-height: 1.8;
}

.player__main--bottom .controls .option:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform ease .1s;
  transition: -webkit-transform ease .1s;
  transition: transform ease .1s;
  transition: transform ease .1s, -webkit-transform ease .1s;
}

.player__main--bottom .controls .option .disc {
  font-size: 14px;
}

.home-header {
  width: 100%;
  height: auto;
  color: #FDFEFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-header p {
  font-size: 24px;
  font-weight: bold;
  padding: 25px 15px;
  word-break: break-all;
}

.home-header .cog {
  padding: 20px 18px;
  cursor: pointer;
  font-size: 18px;
}

.home-header .cog:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: .1 ease;
  transition: .1 ease;
}

@media (min-width: 500px) {
  .player__main--bottom .controls {
    width: 420px;
  }
}

@media (min-width: 768px) {
  .home-header {
    position: relative;
  }
  .home-header p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
  }
  .home-header .cog {
    position: absolute;
    right: 15px;
    top: 20px;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */