@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova.otf");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: #202020;
  font-family: 'ProximaNova', 'Muli';
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player__main {
  width: 100%;
  height: 100px;
  background-color: #222327;
  position: fixed;
  bottom: 0;
  z-index: 99;
}

.player__main--proggres {
  width: 15%;
  height: 2px;
  background-color: #FDFEFF;
}

.player__main--top {
  width: 100%;
  height: 45%;
  border-bottom: #1F2024 3px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__main--top .heart {
  margin-left: 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #FDFEFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__main--top .heart:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform ease .1s;
  transition: -webkit-transform ease .1s;
  transition: transform ease .1s;
  transition: transform ease .1s, -webkit-transform ease .1s;
}

.player__main--top .heart .like {
  display: none;
}

.player__main--top .heart.liked .unlike {
  display: none;
}

.player__main--top .heart.liked .like {
  display: block;
  color: #15BC59;
}

.player__main--top .title {
  color: #FDFEFF;
  font-size: 15px;
}

.player__main--top .title .author {
  color: #919296;
}

.player__main--top .player {
  margin-right: 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #FDFEFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__main--top .player:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform ease .1s;
  transition: -webkit-transform ease .1s;
  transition: transform ease .1s;
  transition: transform ease .1s, -webkit-transform ease .1s;
}

.player__main--top .player .play {
  display: none;
}

.player__main--top .player.paused .pause {
  display: none;
}

.player__main--top .player.paused .play {
  display: block;
}

.player__main--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #919296;
  height: 55%;
  margin-top: 10px;
}

.player__main--bottom .controls {
  width: 280px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.player__main--bottom .controls .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  line-height: 1.7;
}

.player__main--bottom .controls .option:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform ease .1s;
  transition: -webkit-transform ease .1s;
  transition: transform ease .1s;
  transition: transform ease .1s, -webkit-transform ease .1s;
}

.player__main--bottom .controls .option .disc {
  font-size: 14px;
}

.home-header {
  width: 100%;
  height: auto;
  color: #FDFEFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.home-header p {
  font-size: 24px;
  font-weight: bold;
  padding: 30px 15px;
  word-break: break-all;
}

.home-header .cog {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 22px;
  right: 18px;
}

.home-header .cog:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: .1 ease;
  transition: .1 ease;
}

.slider {
  width: 96%;
  height: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  overflow: scroll;
  position: relative;
}

.slider:nth-child(7) {
  margin-bottom: 120px;
}

.slider:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider::-ms-scrollbar {
  display: none;
}

.slider__box {
  width: 110px;
  height: 110px;
  margin: 0 15px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__box:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: ease .1s;
  transition: ease .1s;
}

.slider__box--image {
  width: 110px;
  height: 110px;
  position: absolute;
}

.slider__box--rounded {
  border-radius: 100px;
  width: 110px;
  height: 110px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin: 0 12px 0 0;
  position: relative;
}

.slider__box--rounded:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: ease .1s;
  transition: ease .1s;
}

.slider__box--rounded__image {
  border-radius: 100px;
  width: 110px;
  height: 110px;
  position: absolute;
}

.slider__container {
  text-align: left;
  font-size: 14px;
  margin-top: 118px;
}

.slider__container__name {
  color: #FDFEFF;
  line-height: 1.4;
}

.slider__container__author {
  color: #919296;
}

.slider__container--rounded {
  text-align: center;
  font-size: 14px;
  margin-top: 118px;
}

@media (min-width: 350px) {
  .player__main--bottom .controls {
    width: 330px;
  }
}

@media (min-width: 500px) {
  .player__main--bottom .controls {
    width: 380px;
  }
}

@media (min-width: 768px) {
  .player__main--bottom .controls {
    width: 420px;
  }
  /* _home-header.scss */
  .home-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .silder {
    margin-bottom: -25px;
  }
  .home-header {
    margin-bottom: -15px;
  }
}
/*# sourceMappingURL=style.css.map */