@font-face {
  font-family: ProximaNova;
  src: url("../fonts/ProximaNova.otf");
}

body {
  margin: 0;
  padding: 0;
  background: #202020;
  font-family: 'ProximaNova', 'Muli';
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player__main {
  width: 100%;
  height: 100px;
  background-color: #222327;
  position: fixed;
  bottom: 0;
}

.player__main--proggres {
  width: 15%;
  height: 2px;
  background-color: #FDFEFF;
}

.player__main--top {
  width: 100%;
  height: 45%;
  border-bottom: #1F2024 3px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__main--top .heart {
  margin-left: 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #FDFEFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__main--top .heart:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform ease .1s;
  transition: -webkit-transform ease .1s;
  transition: transform ease .1s;
  transition: transform ease .1s, -webkit-transform ease .1s;
}

.player__main--top .heart .like {
  display: none;
}

.player__main--top .heart.liked .unlike {
  display: none;
}

.player__main--top .heart.liked .like {
  display: block;
  color: #15BC59;
}

.player__main--top .title {
  color: #FDFEFF;
  font-size: 15px;
}

.player__main--top .title .author {
  color: #919296;
}

.player__main--top .player {
  margin-right: 20px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #FDFEFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player__main--top .player:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform ease .1s;
  transition: -webkit-transform ease .1s;
  transition: transform ease .1s;
  transition: transform ease .1s, -webkit-transform ease .1s;
}

.player__main--top .player .play {
  display: none;
}

.player__main--top .player.paused .pause {
  display: none;
}

.player__main--top .player.paused .play {
  display: block;
}

.player__main--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  color: #919296;
  height: 55%;
  margin-top: 10px;
}

.player__main--bottom .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  line-height: 1.9;
}

.player__main--bottom .option:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform ease .1s;
  transition: -webkit-transform ease .1s;
  transition: transform ease .1s;
  transition: transform ease .1s, -webkit-transform ease .1s;
}

.player__main--bottom .disc {
  font-size: 14px;
}

@media (min-width: 580px) {
  .player__main--bottom {
    margin-left: 125px;
    margin-right: 125px;
  }
}

@media (min-width: 800px) {
  .player__main--bottom {
    margin-left: 180px;
    margin-right: 180px;
  }
}

@media (min-width: 1050px) {
  .player__main--bottom {
    margin-left: 235px;
    margin-right: 235px;
  }
}

@media (min-width: 1300px) {
  .player__main--bottom {
    margin-left: 285px;
    margin-right: 285px;
  }
}

@media (min-width: 1550px) {
  .player__main--bottom {
    margin-left: 340px;
    margin-right: 340px;
  }
}
/*# sourceMappingURL=style.css.map */