@font-face { font-family: ProximaNova; src: url('../fonts/ProximaNova.otf'); }

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin:0;
    padding:0;
    background: linear-gradient(160deg, (#00240E) 0%, (#202020) 28%);
    font-family: 'ProximaNova', 'Muli'
}