.home-header {
    width: 100%;
    height: auto;
    color:$white;
    display: flex;
    justify-content: space-between;
    p {
        font-size:24px;
        font-weight: bold;
        padding:25px 15px;
        word-break: break-all;
    }
    .cog {
        padding:20px 18px;
        cursor: pointer;
        font-size:18px;
        &:active {
            transform: scale(.90);
            transition: .1 ease;
        }
    }
}
