.home-header {
    width: 100%;
    height: auto;
    color:$white;
    display: flex;
    justify-content: flex-start;
    position:relative;
    p {
        font-size:24px;
        font-weight: bold;
        padding:30px 15px;
        word-break: break-all;
    }
    .cog {
        cursor: pointer;
        font-size:20px;
        position: absolute;
        top:22px;
        right:18px;
        &:active {
            transform: scale(.90);
            transition: .1 ease;
        }
    }
}
