@media (min-width:500px) {
    .player {
        &__main {
            &--bottom {
                .controls {
                    width:420px;
                }
            }
        }
    }
}

@media (min-width:768px) {
    .home-header {
        position: relative;
        p {
            width: 100%;
            text-align: center;
            padding:25px 0;
        }
        .cog {
            position: absolute;
            right:15px;
            top:20px;
            padding: 0;   
        }
    }
}