@mixin transform {
    -webkit-transform:scale(.95);
    transform:scale(.95);
    -webkit-transition:-webkit-transform ease .1s;
    transition:-webkit-transform ease .1s;
    transition:transform ease .1s;
    transition:transform ease .1s, -webkit-transform ease .1s
}