.slider {
    width:96%;
    height:158px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin-left:2%;
    margin-right:2%;
    overflow:scroll;
    position: relative;
    &:nth-child(7) {
        margin-bottom:120px; // Ostatni "slider" po to aby wyszedł spod "player"
    }
    &:active {
        cursor:grabbing;
        cursor:-webkit-grabbing;
    }
    &::-webkit-scrollbar {
        display:none;
    }
    &__box {
        width:110px;
        height:110px;
        margin:0 15px 0 0;
        -webkit-box-flex:0;
        -ms-flex:none;
        flex:none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        &:active {
            @include transform;
        }
        &--image {
            width:110px;
            height: 110px;
            position: absolute;
        }
        &--rounded { // For artist
            border-radius: 100px;
            width:110px;
            height: 110px;
            -webkit-box-flex:0;
            -ms-flex:none;
            flex:none;
            margin: 0 12px 0 0;
            position: relative;
            &:active {
                @include transform;
            }
            &__image {
                border-radius: 100px;
                width:110px;
                height: 110px;
                position: absolute;
            }
        }
    }
    &__container {
        text-align: left;
        font-size:14px;
        margin-top:118px;
        &__name {
            color:$white;
            line-height: 1.4;
        }
        &__author {
            color:$gray;
        }
        &--rounded { // For artist
            text-align: center;
            font-size:14px;
            margin-top:118px;
        }
    }
}