<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Słuchaj ulubionych wykonawców i ciesz się nieprzerwaną muzyką. Wypróbuj za darmo przez 3 miesiące. Po tym okresie usługa płatna co miesiąc. Jakość dźwięku premium. Odkryj świetnych muzyków. Playlisty na każdą chwilę. Strumień bez reklam.">
    <title>Spotify Project</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli&display=swap">
</head>