<section class="quickAccess">
    <div class="quickAccess__main">
        <div class="quickAccess__main--proggres"></div>

     <!-- Top part of quickAccess section -->

        <div class="quickAccess__main--top">
            <button class="heart js-like">
                <span class="far fa-heart unlike"></span>
                <span class="fas fa-heart like"></span>
            </button>

            <div class="toPlayer"> <!---- To Spotify's player interface -->
                <div class="title">Fade to Black
                    <span class="author">• Mettalica</span>
                </div>
            </div>

            <button class="quickAccess js-play">
                <span class="fas fa-play play"></span>
                <span class="fas fa-pause pause"></span>
            </button>
        </div>

        <!-- Bottom part of quickAccess section -->

        <div class="quickAccess__main--bottom">
            <div class="controls">
                <div class="option">
                    <span class="fas fa-home"></span>
                    <span class="disc">Home</span>
                </div>
                <div class="option">
                    <span class="fas fa-search"></span>
                    <span class="disc">Wyszukaj</span>
                </div>
                <div class="option">
                    <span class="fas fa-align-justify"></span>
                    <span class="disc">Biblioteka</span>
                </div>
                <div class="option">
                    <span class="fab fa-spotify"></span>
                    <span class="disc">Premium</span>
                </div>
            </div>
        </div>
    </div>
</section>